




.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #d14f81;
}

.section-subtitle {
  font-size: 1.2rem;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
}

.custom-list {
  padding-left: 1rem;
  list-style: none;
}

.custom-list li::before {
  content: '✔️';
  margin-right: 8px;
  color: #d14f81;
}

.highlight-card {
  padding: 2rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
}

.highlight-card:hover {
  transform: translateY(-5px);
}
.custom-highlight-section {
  background-color: #dd6974 !important;
}
.team-grid.team-grid-five {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  
}


.box
{
  height:100vh;
 width:100vw;
  overflow: hidden;
  background-image: url('../assets//images/services1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 10px 10px solid black;
}
@media screen and (min-width:768px) {
  background-color: blue;
  
  
}

.overlay-text {
  position: absolute;
  top:0px;
  left:45%;
  height:30vh;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ;
  }

.overlay-text h1 {
  font-size: 3.5rem;
  font-weight: 1200;;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #e9699a;
  margin-bottom: 10px;
}

.overlay-text p {
  
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:black;
  font-size:1.5rem;
}

.bouncer{
   animation: bounce 2s ease-in-out infinite;
}

.icon-wrapper {
  width: 60px;
  height: 60px;
  margin: 0 auto 1rem auto;
  position: relative;
}

.bounce-icon {
  width: 30px;
  height: 30px;
  animation: bounce 2s ease-in-out infinite;
}

/* Bouncing Animation Keyframes */
@keyframes bounce {
  0%,100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}


