.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh !important;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  position: relative;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

.hero-section > .navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.hero-section .overlay {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  text-align: center;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #d14f81;
}

.section-subtitle {
  font-size: 1.2rem;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
}

.custom-list {
  padding-left: 1rem;
  list-style: none;
}

.custom-list li::before {
  content: "✔️";
  margin-right: 8px;
  color: #d14f81;
}

.highlight-card {
  padding: 2rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
}

.highlight-card:hover {
  transform: translateY(-5px);
}
.custom-highlight-section {
  background-color: #dd6974 !important;
}
.team-grid.team-grid-five {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.video-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-text {
  position: absolute;
  top: 40%;
  left: 30%;
  height: 30vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: rgb(243, 238, 238);
}

.overlay-text h1 {
  font-size: 3.5rem;
  font-weight: 1200;
  color: #d14f81;
  margin-bottom: 10px;
}

.overlay-text p {
  font-size: 1rem;
  color: blue;
  font-size: 1.5rem;
}

.icon-wrapper {
  width: 60px;
  height: 60px;
  margin: 0 auto 1rem auto;
  position: relative;
}

.bounce-icon {
  width: 30px;
  height: 30px;
  animation: bounce 2s ease-in-out infinite;
}

.custom-hover-btn:hover {
  background-color: transparent !important;
  color: #fff !important;
  border: 1px #fff solid !important;
}

/* Bouncing Animation Keyframes */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50%,
  75% {
    transform: translateY(-30px);
  }
}
