/* .industry-hero.heavy-bg {
  background: url('../../assets/images//heavy.jpg') center center / cover no-repeat;
  height: 60vh;
} */

/* .card {
  border-radius: 10px;
  transition: all 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
} */

.heavy-container {
 position: relative;
  height: 70vh;
  background-image: url("../../assets/industries/heavy.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

.auto-container {
 position: relative;
  height: 70vh;
  background-image: url("../../assets/industries/automotive.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}
.indus-container{
  position: relative;
  height: 70vh;
  background-image: url("../../assets/industries/industrial.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}
.process-container{
  position: relative;
  height: 70vh;
  background-image: url("../../assets/industries/process.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

.blue {
    background-Color: #00ccd9 !important; 
    color: white !important;
}



.nav-tabs .nav-link {
  background-color: white !important;
  color: black !important;
  border: 1px solid #69abca;
  margin-right: 5px;
  padding: 8px 16px;
  border-radius: 4px 4px 0 0;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.nav-tabs .nav-link:hover {
  background-color: #e2e6ea;
}

.nav-tabs .nav-link.active {
  background-color: var(--brand-color) !important;
  color: #fff !important;
  border-color: var(--brand-color) !important;
  font-weight: 600;
}