.platform-innovation-section {
  background-color: #0e0e0e;
  padding: 3% 0;
  text-align: center;
}

.section-title-platform-innovation {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

.platform-innovation-section .highlight {
  color: #007dc5;
}

.platform-innovation-section .lead {
  color: #dddddd;
  font-size: 1.4rem;
}

/* SLIDER CARD LAYOUT */
.custom-neo-card {
  width: 100vw;
  height: 60vh !important;
  gap: 10%;
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* padding: 3% 0; */
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

/* LEFT SIDE: CONTENT */
.custom-neo-card-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15%;
  width: 30%;
  height: 100%;
}

.milestone-item {
  display: flex;
  align-items: flex-start;
  color: white;
}

.milestone-icon {
  background: #fff;
  color: #222;
  font-weight: bold;
  font-size: 1.8rem;
  width: 70px;
  height: 70px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.milestone-title {
  font-size: 3rem;
  font-weight: 650;
  color: #ffffff;
}

.milestone-desc {
  color: #c0c0c0;
  font-size: 0.85rem;
  line-height: 1.4;
  margin-top: 4px;
}

/* RIGHT SIDE: IMAGE */
.custom-neo-card-right {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.milestone-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SLIDER FIX */
.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: stretch;
}

/* RESPONSIVE STYLES */
@media (max-width: 991px) {
  .custom-neo-card {
    max-width: 90%;
    flex-direction: column;
    padding: 20px 10px;
  }

  .custom-neo-card-left,
  .custom-neo-card-right {
    width: 100%;
    padding: 0;
  }

  .milestone-image {
    border-radius: 18px 18px 0 0;
  }
}

@media (max-width: 768px) {
  .platform-innovation-section .section-title {
    font-size: 2rem;
  }

  .platform-innovation-section .lead {
    font-size: 1rem;
  }
}
